<configuration>
    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>requestId</includeMdcKeyName>
            <includeMdcKeyName>userId</includeMdcKeyName>
            <includeMdcKeyName>traceId</includeMdcKeyName>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
    </root>

    <logger name="com.fintracker.ledger" level="DEBUG" additivity="false">
        <appender-ref ref="JSON_CONSOLE"/>
    </logger>

    <logger name="org.jooq.tools.LoggerListener" level="DEBUG"/>
</configuration>
